<div class="layui-form" id="layuiadmin-form-comment" lay-filter="layuiadmin-form-comment">
    <div class="layui-form-item">
        <label class="layui-form-label">评论内容</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <textarea name="content" lay-verify="required" placeholder="请输入" class="layui-textarea">
          {{ d.params.content || '' }}
        </textarea>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input class="layui-btn" lay-filter="layuiadmin-app-com-submit" lay-submit type="button" value="确认">
        </div>
    </div>
</div>